                @font-face {
                    src: url("../fontes/Lemon-Regular.ttf");
                    font-family: "Lemon-Regular";
                }
                
                * {
                    margin: 0;
                    padding: 0;
                    font-family: sans-serif;
                }
                
                li {
                    list-style: none;
                }
                
                a {
                    text-decoration: none;
                }
                
                header {
                    position: fixed;
                    width: 100%;
                    height: 100px;
                    background-color: #00ABEB;
                    z-index: 100;
                }
                /* .container {
    height: 100px;
    margin: 0 auto;
    padding: 0 60px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-content: center;
} */
                
                .container {
                    width: 1170px;
                    max-width: 100%;
                    margin: 0 auto;
                    padding: 0 15px;
                }
                
                .nav-bar {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 100px;
                }
                
                .nav-bar ul {
                    display: flex;
                }
                
                .nav-bar ul li {
                    margin: 0 10px;
                }
                
                .nav-bar a {
                    text-transform: uppercase;
                    color: white;
                }
                
                a:hover {
                    border-bottom: 2px solid white;
                    padding: 0 0 5px 0;
                }
                /* .nav-bar a::after {
    position: absolute;
    bottom: 5px;
    left: 0;
    content: "";
    width: 100%;
    height: 3px;
    margin: 35px;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.2s ease-out;
}

.nav-bar a:hover::after {
    transform: scaleX(1);
} */
                
                .logo {
                    background-color: white;
                    color: black;
                    float: left;
                    padding: 13px 60px;
                    color: #00ABEB;
                    border-radius: 29px;
                }
                
                .banner {
                    width: 100%;
                    padding-top: 100px;
                    position: relative;
                    vertical-align: middle;
                    /* height: 419px; */
                }
                
                .imagem {
                    position: absolute;
                    background-image: url("../imgs/component (4).png");
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    width: 100%;
                    height: 419px;
                }
                
                .imagem::before {
                    opacity: 0.24;
                    background-color: #00ABEB;
                    content: "";
                    height: 100%;
                    width: 100%;
                    position: absolute;
                }
                
                .texto {
                    position: relative;
                }
                
                h4 {
                    font-size: 74px;
                    /* padding: 0 90px 50px 10px; */
                    text-align: center;
                    /* width: 100%; */
                    /* margin-top: 50px; */
                    color: white;
                    font-family: "Lemon-Regular";
                    /* position: relative;
                    height: 500px; */
                    ;
                }
                
                p {
                    color: white;
                    text-align: center;
                    font-family: "Lemon-Regular";
                    font-size: 44px;
                }
                
                footer {
                    background-color: #00ABEB;
                    width: 100%;
                    ;
                }